<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{subject}}</title>
</head>
<body>
<ul>
    {% for k, v in emailheader.items() %}
        {% if v is iterable and v is not string  %}
            <li><b>{{k|upper}}:</b> {{v|join(', ')}}</li>
        {% else %}
            <li><b>{{k|upper}}:</b> {{v}}</li>
        {% endif %}
    {% endfor %}
</ul>
{% for parag in content_list %}
<p>{{parag}}</p>
{% endfor %}
</body>
</html>